<!DOCTYPE html>
html(lang="de")
    head
        block title
            title TMS
        link(rel="stylesheet", href="css/main.min.css")
    body

        header#js-header

            //- .logo
            //-     img(src="../images/logo.svg")

            .navbar
                //- .logo
                //-     img(src="../images/logo.svg")
                nav
                    ul
                        li
                            a(href="index.html")
                                span Home
                                .line
                        li
                            a(href="Geschichte.html") 
                                span Geschichte
                                .line
                        li
                            a(href="Gameserver.html")
                                span Gameserver
                                .line
                        li
                            a(href="Join_Us.html")
                                span Join Us
                                .line
                        li
                            a(href="Teamspeak.html")
                                span Teamspeak
                                .line

        .hero(style="background-image: url('./images/nightraid_background.png')")#js-trigger-header

        main#js_trigger_header
            block content

        footer
            small &copy; NightRaid 2018
            small
                a(href="") Impressum
            small   
                a(href="") TeamSpeak
        
        script(src="js/main.min.js")
