extends ../templates/site/default.pug

block title
    title NightRaid

block content
    section.sec-bg-2
      .container.tgrid
        .tcol.tcol--12-of-12
          h1.secheading Unsere Gameserver
        .tcol.tcol--4-of-12
          h4 Alle Infos zu unseren Gameservern findet ihr auf unserem Teamspeak im passenden Channel
        .tcol.tcol--4-of-12
          ul
            li 
              h6 Minecraft
              p Adresse: night-raid.de
              p PW keines
              p Admins: kuvaavuk flippy1993 Turro
              p Regeln: Keine Allerdings haben wir einen friedlichen Minecraft Server, also lasst die Bauten anderer in Ruhe sofern ihr euch nicht mit euren Freunden battelt.
            li 
              h6 Guild Wars 2
              p In Guild Wars 2 haben wir natürlich keinen eigenen Server nein. Wir haben uns dazu entschieden da wir sehr viele Leute haben die konstant miteinander spielen wollen eine eigene Gilde zu gründen. Auch hier dürft ihr liebend gerne mitmachen.
        .tcol.tcol--4-of-12
          img(src="./images/hero.jpg")
    section.sec-bg-3.conic.creverse
      .container.tgrid
        .tcol.tcol--6-of-12
          img(src="./images/hero.jpg")
        .tcol.tcol--6-of-12
          ul
            li
              h6 CS:GO
              p Dieser Server ist momentan offline, da er von niemanden mehr benutzt wird. Aber er ist jederzeit wieder startbereit!
              p Admins: Jaxor
            li 
              h6 League of Legends
              p Einige unserer Mitglieder spielen abend auch gerne die ein oder andere Runde LOL einfach schauen ob im passenden Channel jemand da ist und los gehts!
            
    //- section.sec-bg-img(style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download3.jpg)")
    //-   .container.tgrid
    //-     .tcol.tcol--12-of-12
    //-       h1(style="text-transform: uppercase").secheading Be Inspired
    //-     .tcol.tcol--12-of-12.nomargin
    //-       h1 Go for your goals
    
    //- section.conic.fullheight.sec-bg-2.creverse
    //- //- (style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download.jpg)")
    //- section