extends ../templates/site/default.pug

block title
    title NightRaid

block content
    section.sec-bg-2
      .container.tgrid
        .tcol.tcol--12-of-12
          h1.secheading Geschichte
        .tcol.tcol--4-of-12
          h6 Falls ihr euch fragt wie sich ein verrückter Haufen aus komplett unterschiedlichen Menschen zusammen findet? Ich verrate es euch ;-)
        .tcol.tcol--4-of-12
        .tcol.tcol--4-of-12
          img(src="./images/RyzeReading.jpg")
    section.sec-bg-3.conic.creverse
      .container.tgrid
        .tcol.tcol--4-of-12
          img(src="./images/gw2.jpg")
        .tcol.tcol--6-of-12
          p Begonnen hat alles vor einigen Jahren in Guild Wars 2 in dem sich unsere Gründer kennen gelernt haben und zusammen eine Lustige Zeit hatten. Nach einiger Zeit kam man dann auf die Idee eine Community zu gründen um Freunden und Bekannten zu ermöglichen gemeinsam zu Spielen. Als dann immer mehr Member hinzukamen entschloss man sich das Teamspeak zu erweitern damit die vielen Mitglieder nicht auf andere Dienste angewiesen waren.
          p Wir freuen uns darauf auch bald mit dir Zocken zu können und mit unseren Membern gemeinsam viel Spaß zu haben!
          p Euer Night-Rad Team!
            
    //- section.sec-bg-img(style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download3.jpg)")
    //-   .container.tgrid
    //-     .tcol.tcol--12-of-12
    //-       h1(style="text-transform: uppercase").secheading Be Inspired
    //-     .tcol.tcol--12-of-12.nomargin
    //-       h1 Go for your goals
    
    //- section.conic.fullheight.sec-bg-2.creverse
    //- //- (style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download.jpg)")
    //- section