extends ../templates/site/default.pug

block title
    title NightRaid

block content
    section.sec-bg-2
      .container.tgrid
        .tcol.tcol--12-of-12
          h1.secheading Join Us!
        //- .tcol.tcol--12-of-12
        //-   h3 The breaking Theme
        .tcol.tcol--4-of-12
          p Unserer Community könnt ihr mit euren Freunden jederzeit beitreten. Ganz einfach auf unseren TS3 Server kommen und loslegen, alle die unsere Regeln achten sind gern gesehene Besucher. Jedes Mitglied darf unter den selben Voraussetzungen auch seine Freunde mitbringen! Worauf wartest du noch? Tritt uns bei damit wir in Zukunft zusammen die freude am zocken genießen können! Euer Night-Raid Team
        .tcol.tcol--4-of-12
          p Wir hoffen das wir dich Überzeugen konnten und freuen uns schon mit dir etwas zu Zocken 
          h4 Viele Grüße dein Night-Raid Team!
        .tcol.tcol--4-of-12
          img(src="./images/hero.jpg")
    section.sec-bg-3.conic.creverse
      .container.tgrid
        .tcol.tcol--6-of-12
          img(src="./images/hero.jpg")
        .tcol.tcol--6-of-12
          img(src="./images/hero.jpg")          
    //- section.sec-bg-img(style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download3.jpg)")
    //-   .container.tgrid
    //-     .tcol.tcol--12-of-12
    //-       h1(style="text-transform: uppercase").secheading Be Inspired
    //-     .tcol.tcol--12-of-12.nomargin
    //-       h1 Go for your goals
    
    //- section.conic.fullheight.sec-bg-2.creverse
    //- //- (style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download.jpg)")
    //- section