extends ../templates/site/default.pug

block title
    title Hello World

block content
    section
      .container.tgrid
        .tcol.tcol--12-of-12
          h1.secheading Nightraid
          hr
        .tcol.tcol--12-of-12
          h3 The breaking Theme
        .tcol.tcol--4-of-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tcol.tcol--4-of-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tcol.tcol--4-of-12
          img(src="./images/hero.jpg")
    section.sec-bg-3.conic.creverse
      .container.tgrid
        .tcol.tcol--6-of-12
          img(src="./images/hero.jpg")
        .tcol.tcol--6-of-12
          ul
            li Hiealefaef oihfef lefadf
            li Hiealefaef oihfef lefadf
            li Hiealefaef oihfef lefadf
            li Hiealefaef oihfef lefadf
            
    //- section.sec-bg-img(style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download3.jpg)")
    //-   .container.tgrid
    //-     .tcol.tcol--12-of-12
    //-       h1(style="text-transform: uppercase").secheading Be Inspired
    //-     .tcol.tcol--12-of-12.nomargin
    //-       h1 Go for your goals
    
    //- section.conic.fullheight.sec-bg-2.creverse
    //- //- (style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download.jpg)")
    //- section